name: Execute more-mangas tests in container

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Ejectuar los tests
        run: docker run -t -v `pwd`:/app/test gomares/more-mangas
