name: Publish Docker image

on: 
  push:
    paths:
      - 'poetry.lock'
      - 'pyproject.toml'
      - 'Dockerfile'
    branches:
      - 'main'
  pull_request:
    paths:
      - 'poetry.lock'
      - 'pyproject.toml'
      - 'Dockerfile'
    branches:
      - 'main'

    

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          repository: ${{ secrets.DOCKER_USERNAME }}/more-mangas
          tags: latest